* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

header {
  background-color: rgb(250, 250, 156);
  height: 100px;
  padding-top: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.menu__list {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  border: solid 1px red;
  border-radius: 3px;
  background-color: rgb(147, 187, 82);
  padding: 5px;
  color: white;
}

a:hover {
  color: black;
  background-color: lightpink;
}

.list-first {
  display: flex;
  flex-wrap: wrap;
  /* width: 350px; */
}

.main-item {
  display: flex;
  margin: 5px;
  width: 350px;
  background-color: rgb(185, 214, 138);
  margin-top: 10px;
}

.image {
  width: 150px;
  padding: 10px;
}

.item-text {
  font-size: 15px;
}

.item-list {
  padding: 10px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination a {
  margin-left: 10px;
}

.active {
  background-color: rgb(250, 120, 120);
}
